header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  border-bottom: 1px solid grey;
  padding: 0 1em;
}

.logo {
    align-self: stretch;
    width: 3
    50px;
}

.nav-list {
  display: flex;
  gap: 15px;
}

.nav-item {
  color: white;
  background-color: rgb(17, 17, 17);
  font-size: 1.5em;
}
