@import url(./reset.css);

.container {
  display: grid;
  /* grid-template-columns: repeat(6, 100px); */
  /* grid-template-columns: 100px 100px 100px 100px 100px 100px; */
  /* grid-template-columns: 100px repeat(3, 1fr); */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, 10vh);
  /* height: 600px; */
  border: 1px solid black;
}

.box {
  /* width: 100px;
    height: 100px; */
  background-color: cornsilk;
  font-size: 2em;
  text-align: center;
  border: 1px solid black;
}
