@import url(./reset.css);

.container {
  display: grid;
  /* grid-template-columns: repeat(6, 100px); */
  /* grid-template-columns: 100px 100px 100px 100px 100px 100px; */
  /* grid-template-columns: 100px repeat(3, 1fr); */
  grid-template-columns: repeat(4, 25vw);
  grid-template-rows: repeat(2, 20vh);
  /* height: 600px; */
  border: 1px solid black;
  margin-bottom: 200px;
}

.box {
  /* width: 100px;
    height: 100px; */
  background-color: cornsilk;
  font-size: 2em;
  text-align: center;
  border: 1px solid black;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 100px);
  border: 3px solid rgb(210, 22, 22);
  margin-bottom: 100px;
  /* column-gap: 10px;
  row-gap: 20px; */
  /* gap: 10px; */
}

.div-box {
  border: 1px solid black;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.359);
}

.one {
    grid-column: 1/5;
  background-color: aquamarine;
}

.two {
  grid-row: 2/3;
  grid-column: 1/5;
  background-color: brown;
}

.three {
  grid-row: 3/5;
  background-color: rgb(240, 163, 63);
}

.four {
  grid-row: 3/4;
  background-color: darkorchid;
}

.five {
    grid-row: 4/5;
  background-color: rgb(11, 163, 31);
}

.six {
  grid-row: 3/5;
  background-color: rgb(73, 50, 204);
}

.seven {
    background-color: lightpink;
}

.eight {
    background-color: lightskyblue;
}