@import url(./reset.css);

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 600px;
    border: 1px solid black;
}

.box {
    /* width: 100px;
    height: 100px; */
    background-color: cornsilk;
    font-size: 2em;
    text-align: center;
    border: 1px solid black;
    flex-grow: 1;
}

.seven {
    align-self: flex-start;
}