:root {
  --header-size: 10vh;
  --main-color: black;
}

header {
  width: 100%;
  height: var(--header-size);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #02137f;
  padding: 0 20px;
  margin: 0;
}

.logo {
  height: 10vh;
  background-color: rgba(255, 240, 36, 0.229);
}

.navigation {
  width: 40%;
}
.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
}

.nav-item {
  /*A*/
  font-size: 1.5em;
  padding: 10px 20px;
  background-color: rgb(0, 0, 0);
  color: #d4cb86;
  transition-duration: 500ms;
  transition-timing-function: linear;
}

.nav-item:hover {
  /*B*/
  background-color: rgb(158, 124, 15);
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.nav-item::after {
  /*A2*/
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #9ba00a;
  transition-duration: 500ms;
  transition-property: all;
  transition-timing-function: easy-in-out;
}

.nav-item:hover::after {
  /*B2*/
  width: 0%;
}

.sandbox {
  width: 100%;
  height: 50vh;
}

.box-container {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.front {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid black;
  background-color: cadetblue;

  transition: all 0.5s linear;
}

.box-container:hover .front {
  transform: rotateY(90deg);
}

.back {
  position: absolute;
  transform: rotateY(90deg);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(110, 26, 178);
  transition: all 0.5s linear;
  z-index: 2;
}

.box-container:hover .back {
  transform: rotateY(0deg);
}

.banner {
  width: 100%;
  height: calc(100vh - var(--header-size));
  background-image: url("https://codetheweb.blog/assets/img/posts/css-advanced-background-images/cover.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.news {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 5vh 10vw;
  justify-content: space-between;
}

.news-card {
  position: relative;
  height: 150px;
  width: 25%;
  /* height: auto; */
  border: 1px solid black;
  padding: 2em;
  /* margin: 2vh 1vw; */
  box-sizing: border-box;
  cursor: pointer;
  background-color: #9ba00a;
  overflow: scroll;
}

.card-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.news-card:hover .card-heading {
  transform: rotateY(90deg);
}

.card-text {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px;
  transform: rotateY(90deg);
  background-color: #d4cb86;
  border: 1px solid black;

}

.news-card:hover .card-text {
  transform: rotateY(0deg);
}
